<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<head>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/contract-form.js"></script>
    <meta charset="ISO-8859-1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <title>Contract Registration Form</title>

</head>

<body>

<div class="main">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">

                <form method="POST" class="register-form" id="contractForm" th:object="${contractData}">
                    <h2>Contract adding form</h2>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="partnerContactUid">Select partner contact :</label>
                            <div class="form-select">
                                <select name="partnerContactUid" th:field="*{partnerContactUid}" id="partnerContactUid">
                                    <option th:each="partnerContact : ${testData.partnerDTO.partnerUsers}"
                                            th:value="${partnerContact.uid}"
                                            th:text="${partnerContact.uid}">
                                    </option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="customerUid">Select customer :</label>
                            <div class="form-select">
                                <select name="customerUid" th:field="*{customerUid}" id="customerUid">
                                    <option th:each="customer : ${testData.customers}" th:value="${customer.uid}"
                                            th:text="${customer.uid}">
                                    </option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="solution">Select solution :</label>
                            <div class="form-select">
                                <select name="solution" th:field="*{solution}" id="solution">
                                    <option th:each="solution : ${T(com.epam.generator.model.SolutionEnum).values()}"
                                            th:value="${solution}" th:text="${solution}">
                                    </option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="solutionEdition">Select solution edition :</label>
                            <div class="form-select">
                                <select name="solutionEdition" th:field="*{solutionEdition}"
                                        id="solutionEdition"></select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-radio">
                        <label for="manageable" class="radio-label">Should contract be manageable?</label>
                        <div class="form-radio-item">
                            <input type="radio" name="manageable" id="optionsRadiosInline1" value="true"
                                   th:checked="*{manageable}">
                            <label for="optionsRadiosInline1">Yes</label>
                            <span class="check"></span>
                        </div>
                        <div class="form-radio-item">
                            <input type="radio" name="manageable" id="optionsRadiosInline2" value="false"
                                   th:checked="*{manageable} == false">
                            <label for="optionsRadiosInline2">No</label>
                            <span class="check"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="startDate">Contract start date:</label>
                            <input type="datetime-local" id="startDate" name="startDate" th:field="*{startDate}"
                                   required/>
                        </div>
                        <div class="form-group">
                            <label for="endDate">Contract end date:</label>
                            <input type="datetime-local" id="endDate" name="endDate" th:field="*{endDate}" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contractType">Select transaction type :</label>
                        <div class="form-select">
                            <select name="contractType" th:field="*{contractType}" id="contractType">
                                <option th:each="type : ${T(com.epam.generator.model.TransactionTypeEnum).values()}"
                                        th:value="${type}" th:text="${type.value}">
                                </option>
                            </select>
                            <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div id="feedback"></div>
                        <label for="contracts">Contracts to be generated</label>
                        <ul id="contracts"></ul>
                    </div>


                    <div class="form-submit">
                        <!--                        <input type="submit" value="Reset All" class="submit" name="reset" id="reset"/>-->
                        <input type="submit" value="Add Contract" class="submit" name="submit" id="add-contract"/>
                    </div>
                </form>

                <form class="register-form" id="orderForm" th:object="${orderData}">
                    <h2>Contract adding form</h2>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="orderType">Select order type :</label>
                            <div class="form-select">
                                <select name="orderType" th:field="*{orderType}" id="orderType">
                                    <option th:each="type : ${T(com.epam.generator.model.OrderTypeEnum).values()}"
                                            th:value="${type}" th:text="${type.value}">
                                    </option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="predecessorId">Select order predecessor :</label>
                            <div class="form-select">
                                <select name="predecessorId" th:field="*{predecessorId}" id="predecessorId">
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="orderEntries">How many order entries required:</label>
                            <input type="number" name="orderEntries" id="orderEntries" th:field="*{orderEntries}"
                                   max="4" min="1" value="1"/>
                        </div>
                        <div class="form-group">
                            <label for="entriesPrice">Specify order entry price</label>
                            <input type="number" step="0.01" name="entriesPrice" id="entriesPrice"
                                   th:field="*{entriesPrice}" value="0.00"/>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="transactionType">Select transaction type :</label>
                            <div class="form-select">
                                <select name="transactionType" th:field="*{contractType}" id="transactionType">
                                    <option th:each="type : ${T(com.epam.generator.model.TransactionTypeEnum).values()}"
                                            th:value="${type}" th:text="${type.value}">
                                    </option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="orderStatus">Select order status</label>
                            <div class="form-select">
                                <select name="orderStatus" th:field="*{orderStatus}" id="orderStatus">
                                    <option th:each="status : ${T(com.epam.generator.model.OrderStatusEnum).values()}"
                                            th:value="${status}" th:text="${status.value}">
                                    </option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div id="feedback-order"></div>
                        <label for="orders">Orders to be generated</label>
                        <ul id="orders"></ul>
                    </div>
                    <div class="form-submit">
                        <!--                        <input type="submit" value="Reset All" class="submit" name="reset" id="reset"/>-->
                        <button class="submit" onclick="location.href='/generate'" type="button">
                            Generate Impexes</button>
                        <input type="submit" value="Add Order" class="submit" name="submit" id="add-order"/>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- JS -->
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
