<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Partner Generation Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="main">
    <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                <img src="images/testing_meme13.jpg" alt="">
            </div>
            <div class="signup-form">
                <form action="#" th:action="@{/register}" method="post" th:object="${testData}" class="register-form"
                      id="register-form">
                    <h2>Partner registration form</h2>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="storyNumber">Story number:</label>
                            <input name="storyNumber" id="storyNumber" type="text" th:field="*{storyId}" required/>
                        </div>
                        <div class="form-group">
                            <label for="partnerNumber">Partner serial number:</label>
                            <input name="partnerNumber" id="partnerNumber" type="number" th:field="*{partnerNumber}" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customersQuantity">How many customers required:</label>
                        <input name="customersQuantity" id="customersQuantity" type="number"
                               th:field="*{requiredCustomersQuantity}" min="1"/>
                    </div>

                    <div class="form-group">
                        <label for="partnerContacts">How many partner contacts required:</label>
                        <input name="partnerContacts" id="partnerContacts" type="number" th:field="*{requiredContactsQuantity}" min="1"/>
                    </div>

                    <div class="form-group">
                        <label for="managersQuantity">How many partner managers required:</label>
                        <input name="managersQuantity" id="managersQuantity" type="number" th:field="*{requiredManagersQuantity}"/>
                    </div>

                    <div class="form-group">
                        <label for="approversQuantity">How many attachment approvers required:</label>
                        <input name="approversQuantity" id="approversQuantity" type="number" th:field="*{requiredAttachmentApproversQuantity}"/><br/>

                    </div>

                    <div class="form-submit">
<!--                        <input type="submit" value="Reset All" class="submit" name="reset" id="reset"/>-->
                        <input type="submit" value="Submit Form" class="submit" name="submit" id="submit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
